h1 {
    color: purple;
    font-size: 64px;
 }
 body {
    background-color: rgb(183, 0, 255);
 }
 p {
    color; bule;
    font-size: 42px;
 }
 .heading {
    color: rgb(60, 255, 0);
 }
 .awesome{
    color: bule;
    font-size: 42px;
 }
 #unique {
    color:rgb(195, 0, 255);
 }